<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="4" android:versionName="1.0" package="com.fortune.ogrnicinput" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="24" android:targetSdkVersion="30" />
	<application android:label="유기농업자재" android:theme="@style/MyTheme" android:roundIcon="@mipmap/ic_launcher_round" android:icon="@mipmap/ic_launcher"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>